* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.2;
  color: #4a4a4a;
  position: relative;
}

img {
  max-width: 100%;
}

input {
  border: 0;
  max-width: 100%;
  background: transparent;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: 0;
}

.App {
  position: relative;
}
